@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
   margin: 0;
   padding: 0;
   text-decoration: none;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;

}

body {
   background: linear-gradient(#5c258d, #4389a2);

}

header {
   width: 1300px;
}

.enlace-nav {
   display: inline-block;
   text-decoration: none;
   color: white;
   font-size: 30px;
   padding: 0px 5px;

}

.menu {
   display: flex;
   padding: 0px 5px;
   list-style-type: none;

}

.enlace-nav:hover {
   background-color: rgb(55, 255, 55);
   box-shadow: 0px 5px 15px 2px rgb(55, 255, 55);
   transition: 0.9s;
}

nav {
   background-color: rgb(36, 20, 20);
   height: 7rem;
   width: 1300px;
   display: flex;
   align-content: center;
   justify-content: space-between;
   align-items: center;
   margin: 0px auto;
   border-radius: 20px;
   box-shadow: 0px 5px 15px 2px #f1f8f8;

}

.logo {
   display: flex;
   justify-content: flex-start;
}

.logo img {
   width: 145px;
   height: 110px;
   border-radius: 20px;
   box-shadow: 0px 5px 15px 2px #f1f8f8;

}

.portada {
   display: flex;
   align-items: center;
   margin-top: 4rem;
}


.imagenz img {
   width: 510px;
   height: 400px;
   border-radius: 10px;

}

.descripcion {
   display: flex;
   flex-direction: column;
   align-items: center;

}

.descripcion h1 {
   font-size: 4rem;
   width: 30rem;
   font-family: 'Roboto', sans-serif;
   color: rgb(243, 221, 219);
   text-align: center;
   background: linear-gradient(rgb(83, 238, 83), rgba(206, 206, 5, 0.87));
   -webkit-background-clip: text;
   color: transparent;
   animation-name: title1;
   animation-timing-function: linear;
   animation-duration: 3s;
   animation-delay: 0s;
   animation-iteration-count: infinite;

}

@keyframes title1 {
   0% {
      transform: rotateY(100grad);
   }

   50% {
      transform: rotateY(-100grad);
   }

   100% {
      transform: rotateY(0grad);

   }
}


.checkbutton {
   font-size: 30px;
   color: white;
   float: right;
   line-height: 80px;
   margin-right: 40px;
   cursor: pointer;
   display: none;
}

#check {
   display: none;
}

.descripcion span {
   font-size: 1.4rem;
   font-family: 'Roboto Mono', monospace;
   /* margin-top: 37px; */
   /* margin-bottom: 12px; */
   text-align: center;
   margin: 2rem 0rem;
   width: 50rem;
}

.button {
   margin-top: 32px;

}

.button,
#call,
#more {
  
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: stretch;


}

.button #call {
   padding: 9px;
   margin-inline: 15px;
   border-radius: 50px;
   width: 150px;
   background-color: #164252;
   font-size: 20px;
   color: aliceblue;
}

.button #more {
   padding: 9px;
   margin-inline: 45px;
   border-radius: 50px;
   width: 150px;
   font-size: 20px;

}

.button #more:hover {
   background-color: #164252;

   transition: 1s;
   transform: scale(1.5);
}



.promocion {
   margin: 3rem 0rem;
   text-align: -webkit-center;
}


.promo span {
   font-family: 'Roboto Mono', monospace;
   font-size: 1.6rem;
   text-align: center;


}

.promo p {
   display: flex;

   margin: 0 4rem;
}

.sectioncards {
   display: flex;
   flex-direction: column;
   align-items: center;

}

.card img {
   width: 10rem;
   border-radius: 10px;

}

.card {
   display: flex;
   align-items: center;
   flex-direction: column;
   margin: 0 3rem;

}

.cardtext {
   text-align: center;
   margin: 1rem 0;
}

.cards {
   display: flex;

   align-items: center;
}

.titlecard {
   margin: 3.5rem 2rem;

}
.button,
   #call,
   #more {
      cursor: pointer;
      display: flex;
   }


.titlecard h2 {
   text-align: center;
   margin-bottom: 2rem;
   font-size: 2.5rem;
   background: linear-gradient(rgba(247, 239, 239, 0.87), rgb(55, 255, 55));
   -webkit-background-clip: text;
   color: transparent;
   animation-name: un_efecto;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
   animation-duration: 2s;
   animation-delay: 0s;
}


.titlecard p {
   font-size: 1.3rem;
   font-family: 'Roboto Mono', monospace;
}


.cardtext h3 {
   margin-bottom: 1.3rem;
   font-size: 1.3rem;
}

.cardtext span {
   font-family: 'Roboto Mono', monospace;
   font-size: 1rem;
}

footer {
   display: flex;
   justify-content: center;
   background-color: black;

}

.footerimg {
   margin: 2rem;
}

.footerimg img {

   width: 78vh;
   height: 50vh;
   margin-top: 1rem;
   border: #4389a2 solid;
   margin-left: 3rem;
   animation-name: efecto_2;
   animation-timing-function: ease-in;
   animation-iteration-count: infinite;
   animation-delay: 0s;
   animation-duration: 4s;
}

.contacto {
   display: flex;
   color: white;
   flex-direction: column;
   align-items: center;
   margin-inline: 4rem;
}

.lista {
   display: flex;
}

.contacto h3 {
   margin-bottom: 1rem;
}

.foot h2 {
   text-align: center;
   font-size: 3rem;
   color: white;
}

.foot {

   display: grid;

   align-content: space-evenly;
}

.enlace-f {
   list-style: none;
   margin: 1rem;

}

.enlace-f a {
   color: white;
}

.logos {

   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.logos a {
   text-decoration: none;
   color: white;
}

.logos a:hover {
   transform: scale(2.4);
   transition: 1s;
}

.copy img {
   width: 6vh;
   height: 5vh;
   border-radius: 10px;
}

.copy {
   display: flex;
   align-items: center;

   flex-direction: row-reverse;
   justify-content: flex-end;
}

.copy span {
   color: #f1f8f8;
   font-family: Arial, Helvetica, sans-serif;
   font-size: small;
   font-size: 0.5rem;
}

@keyframes un_efecto {
   0% {

      transform: scale(1);

   }

   20% {

      transform: scale(1.2);

   }

   40% {

      transform: scale(1.1);

   }

   70% {
      transform: scale(0.5);
   }

   100% {
      transform: scale(1);
   }
}

@keyframes efecto_2 {
   0% {

      transform: scale(1);

   }

   20% {

      transform: scale(1.1);
   }

   40% {

      transform: scale(1);

   }

   70% {
      transform: scale(0);
   }

   100% {
      transform: scale(0.5);
   }

}

.card:nth-child(1) {
   animation: floati 2s ease 0s infinite alternate;

}

.card:nth-child(2) {
   animation: floati 2s ease 0.5s infinite alternate;

}

.card:nth-child(3) {
   animation: floati 2s ease 2s infinite alternate;

}

@keyframes floati {
   from {
      transform: translateY(25px);
   }

   to {
      transform: translateY(-25px);
   }

}


@media (max-width: 1300px) {
   .descripcion {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: auto;
   }

   .portada {
      display: flex;
      align-items: center;
      margin-top: 2rem;
   }

   .imgzapa {
      padding: inherit;
      display: flex;
      margin-inline-start: auto;

   }

   .promocion {
      margin-top: 2rem;
   }

   .promo span {
      font-family: 'Roboto Mono', monospace;
      font-size: 1.3rem;
      text-align: center;


   }
   

   .imagenz img {
      width: 300px;
      height: 250px;
      border-radius: 10px;
   }

   .promo p {
      display: flex;

      width: 55rem;
   }


   nav {

      background-color: rgb(36, 20, 20);
      height: 7rem;
      width: 870px;
      display: flex;
      align-content: center;
      justify-content: space-between;
      align-items: center;
      border-radius: 20px;
      box-shadow: 0px 5px 15px 2px #f1f8f8;
   }

   .descripcion h1 {
      font-size: 3rem;
      font-family: 'Roboto', sans-serif;
      width: min-content;
      text-align: center;

   }

   .sectioncards {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70rem;
   }

   .cardtext {
      text-align: center;
      margin: 0 3rem;
   }

   .titlecard {
      /* grid-column-gap: 100px; */
      margin-bottom: 3rem;
   }

   footer {
      display: flex;
      justify-content: center;
      background-color: black;
      width: auto;
   }

   .footerimg img {
      width: 56vh;
      height: 40vh;
      /* margin-top: 1rem; */
      border: #4389a2 solid;
      animation: none;

      animation-name: none;
   }
}

@media (max-width: 1200px) {
   .portada {
      display: flex;
      margin-top: 2rem;
      justify-content: center;
   }
   button,
   #call,
   #more {
      cursor: pointer;
      display: flex;
   }

   .descripcion span {
      width: 300px;
      font-size: 1.4rem;
   }
   footer {
      width: max-content;
   }
}

@media (max-width: 1100px) {
   .footerimg img {
      width: 40vh;
      height: 29vh;
      border: #4389a2 solid;
   }

}

@media (max-width: 520px) {
   header {
      width: auto;
     

   }

   nav {
       width: 300px;
      display: flex;
      justify-content: space-between;
   }

   .menu {
      display: none;
   }


   .checkbutton {
      display: block;
   }

   #check:checked~ul {
      left: 0;
      width: 75vh;
      height: auto;
   }
   .imagenz {
      display: none;
   }
   .titlecard{
      width: max-content;
   }

   .menu {
      display: block;
      position: absolute;
      background: #2c3e50;
      top: 110px;
      left: -43vh;
      text-align: center;
      z-index: 10;
      transition: all 2s;
   }
   .promo p {
      display: flex;
      width: auto;
      text-align: center;
  }

   .portada {
      display: flex;
      margin-top: 2rem;
      justify-content: center;
      align-content: center;
   }
   .promocion {
      display: flex;
      margin-top: 2rem;
   }

   .checkbutton {
      display: block;
   }
   .titlecard {
      
         display: flex;
         flex-direction: column;
     width: auto;
   }
   .cardtext {
      width: auto;
   }

   #check:checked~ul {
      left: 0;
      width: 77vh;
   }

   .button #more {
      padding: 9px;
      border-radius: 50px;
      width: 150px;
      font-size: 20px;
  }
   .sectioncards {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: auto;
  }

   .cards {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
   }
   .copy {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row-reverse;
  }
  .style {
   display: none;
  }
  .footerimg img {
   width: 22vh;
   height: 18vh;
   border: #4389a2 solid;
}
   
   /* .footerimg {
      margin: 1rem;
  } */
}


@media (max-width: 442px) 
{
   
   .style {
   display: none;
     
   }
   .descripcion {
      display: flex;
      flex-direction: column;
      width: auto;
      align-items: center;
  }
  .button, #call, #more {
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: stretch;
}
.button #more {
   
      padding: 9px;
       margin-inline: 0; 
      border-radius: 50px;
      width: 150px;
      font-size: 20px;
  
}
   .sectioncards {  
   display: flex;
    width: auto;
    align-items: center;
      } 
    .menu {
      display: none;
   }

   .checkbutton {
      display: block;
   }
   #check:checked~ul {
      left: 0;
      width: 39vh;
      height: auto;
   }

   
   .enlace-nav {
      color: #bc6ef2;
      font-size: 1.05rem;

      margin: 0.3rem;
   }
   .enlace-f {
      margin-block: 10px;
   }


   .menu {
      display: block;
      position: absolute;
      background: #2c3e50;
      top: 110px;
      left: -43rem;
      text-align: center;
      z-index: 10;
      transition: all 2s;

   }
   .titlecard {
      
      display: flex;
      text-align: center;
      width: auto;
  }
  .titlecard h2 {
   width: auto;
   animation-name: none;
  }
  .cardtext {
   width: auto;
  }
  footer {
   width: auto;
   display: flex;
  }
  .foot{
  
   display: flex;
   flex-direction: column;
  }
  .foot h2 {
   text-align: center;
   font-size: 1.5rem;
   color: white;
}
.contacto {
   display: flex;
   color: white;
   flex-direction: column;
   align-items: center;}
   .lista {
      display: flex;
      flex-direction: column;
  }
  .contacto h3 {
   margin-bottom: 1rem;
   margin-top: 1rem;
}

 }