body {
    background-color: rgb(228, 15, 15);
}
.enlace-nav {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 0px 5px;
        
}
.menu {
    display: flex;
    padding: 0px 5px;
    list-style-type: none;
    
}
.enlace-nav:hover {
    background-color: rgb(55, 255, 55);
    box-shadow: 0px 5px 15px 2px rgb(55, 255, 55);
}

nav {
    background-color: rgb(36, 20, 20);
    height: 110px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
   margin: 0px 100px; 
   border-radius: 20px;
   /* box-shadow: 0px 5px 15px 2px #f1f8f8; */
  
}

.foto a {
    display: flex;
    justify-content: flex-start;
}

.foto img {
    width: 145px; 
    height: 110px;
    border-radius: 20px;
    border-radius: 20px;
   box-shadow: 0px 5px 15px 2px #f1f8f8;
  
   }
 

@media (max-width: 500px)
 {
    nav {
        flex-direction:column;
        background-color: black;
    }
        .menu {
        flex-direction: column;
    }


    }
    