body {
    background-color: rgb(228, 15, 15);
}
.nav-enlace {
    display: inline-block;
    text-decoration: none;
    color: white;
    
}

.nav-enlace:hover {
    background-color: rgb(55, 255, 55);
}

nav {
    background-color: rgb(36, 20, 20);
    height: 110px;
    margin: 0px 0px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.foto a{
    display: flex;
    justify-content: flex-end;
}

.foto img {
    width: 145px; 
    height: 110px;
   }
 

@media (max-width: 500px)
 {
    nav {
        flex-direction:column;
        background-color: black;
    }
        .nav-enlace {
        flex-direction: column;
    }


    }
    